{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le site Vivotel {% endblock %}

{% block body %}
<style>
  
</style>

<div class="example-wrapper">
    <h1>Bienvenue sur le site Vivotel</h1>


</div>
{% endblock %}
